.menu_Container {
  background-color: #6745b2;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  padding: 80px 120px;
  position: relative;
}

.top_Container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 150px;
  justify-content: space-around;
  margin-bottom: 120px;
}

.card {
  position: relative;
}
.manu_image2 {
  width: 270px;
}

.manu_image1 {
  position: absolute;
  top: -40px;
  left: -33px;
  width: 350px;
}

.manu_image3 {
  position: absolute;
  top: -30px;
  left: -33px;
  width: 350px;
}

.cart_1 {
  margin-top: 30px;
}

/* /////////////// */

.buttom_Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
  margin-bottom: 20px;
}

.card2 {
  margin-top: 120px;
}
/* ////////////////// */

.manu_image1 {
  position: absolute;
  top: -50px;
  left: -40px;
  width: 350px;
}

.manu_image2 {
  width: 270px;
}
.manu_image3 {
  position: absolute;
  top: -40px;
  left: -40px;
  width: 350px;
}

.manu_image4 {
  width: 270px;
}
.manu_image5 {
  position: absolute;
  top: -55px;
  left: -40px;
  width: 350px;
}
.manu_image6 {
  width: 270px;
}
.manu_image7 {
  position: absolute;
  top: -40px;
  left: -70px;
  width: 350px;
}

.manu_image8 {
  width: 220px;
}
/* /////////////////////////////////// */

.line_one {
  position: absolute;
  top: 20px;
  left: 570px;
}

.line_two {
  position: absolute;
  left: 600px;
  bottom: 20px;
}
.line_three {
  position: absolute;
  top: 320px;
  left: 200px;
}

.line_five {
  display: none;
}

@media (max-width: 768px) {
  /* .line_one {
    display: none;
  }

  .line_two {
    position: absolute;
    left: 600px;
    bottom: 20px;
  }
  .line_three {
    position: absolute;
    top: 333px;
    left: 515px;
  }

  .line_five {
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 102px;
  } */
  /* ////// */
  .manu_image1 {
    position: absolute;
    top: -50px;
    left: -40px;
    width: 350px;
  }

  .manu_image2 {
    width: 270px;
  }
  .manu_image3 {
    position: absolute;
    top: -40px;
    left: -40px;
    width: 350px;
  }

  .manu_image4 {
    width: 270px;
  }
  .manu_image5 {
    position: absolute;
    top: -55px;
    left: -40px;
    width: 350px;
  }
  .manu_image6 {
    width: 270px;
  }
  .manu_image7 {
    position: absolute;
    top: -40px;
    left: -70px;
    width: 350px;
  }

  .manu_image8 {
    width: 220px;
  }
}
